@page "/RegisterPage"
@using FamilyManagerApp.Data
@inject NavigationManager _navigationManager
@inject IUserService _userService
@inject AuthenticationStateProvider _authenticationStateProvider


<div class="d-flex justify-content-center align-self-center">
<div class="card w-50" >
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <AuthorizeView>
            <NotAuthorized>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" placeholder="Username" @bind-value="_username"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="Password" placeholder="Password" @bind-value="_password"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="Password" placeholder="Confirmation password" @bind-value="_confirmationPassword"/>
                </div>
                <div style="color:red">@_errorMessage</div>
                <button @onclick="PerformRegistration" class =" btn btn-primary mr-1" href="/LoginPage">Register</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
</div>
@code {
    private string _username;
    private string _password;
    private string _confirmationPassword;
    private string _errorMessage;

    private async Task PerformRegistration() {
        _errorMessage = "";
        try {
            ((CustomAuthenticationStateProvider)_authenticationStateProvider).ValidateRegister(_username, _password, _confirmationPassword);
            _username = "";
            _password = "";
            _navigationManager.NavigateTo("/LoginPage");
        }
        catch (Exception e) {
            _errorMessage = e.Message;
        }
    }

}